@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply m-0 p-0 box-border outline-none;
}

html {
    @apply scroll-smooth md:scroll-p-[10.5rem];
}

body {
	@apply bg-teal-50 text-zinc-800 antialiased overflow-x-hidden min-h-screen font-Lato text-base;
}

span {
	@apply block;
}

label {
	@apply text-sm tracking-wide font-bold;
}

textarea {
	@apply resize-none;
}

textarea::placeholder {
	@apply text-sm;
}

textarea::-webkit-scrollbar {
	@apply hidden;
}

@layer components {
	.nav-link-shadow {
		text-shadow: 1px 1px 2px #b3483740;
	}

	.hero-h-shadow {
		text-shadow: 2.5px 2.5px 3px #b3483740;
	}

	.hero-icon-shadow {
		filter: drop-shadow(0 2px 2px #b3483740);
	}

	.hero-btn-shadow {
		text-shadow: 2px 2px 3px #b3483740;
	}

	.contact-input {
		@apply text-sm mt-2 bg-white shadow-sm shadow-teal-600/50 py-2 px-3 rounded drop-shadow-sm text-black md:w-72;
	}
	
	.contact-input::placeholder {
		@apply text-sm ;
	}
	
	.contact-input::-webkit-scrollbar {
		@apply hidden;
	}
};
