@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply m-0 p-0 box-border outline-none;
}

html {
    @apply scroll-smooth;
}

body {
	@apply bg-teal-500/[5.1%] text-zinc-800/90 antialiased overflow-x-hidden min-h-[100vh] font-Lato text-base overflow-y-scroll;
}

span {
	@apply block;
}

label {
	@apply text-sm tracking-wide font-bold;
}

textarea {
	@apply resize-none;
}

input::placeholder {
	@apply tracking-widest;
}

textarea::placeholder {
	@apply text-sm tracking-widest;
}

textarea::-webkit-scrollbar {
	@apply hidden;
}

footer {
	box-shadow: 0 -1px 1px 1.5px #00000009;
}

@layer components {

	.contact-input {
		@apply text-sm mt-2 bg-teal-500/[8%] shadow-sm py-2 px-3 rounded-sm drop-shadow-sm text-black md:w-72;
	}
	
	.contact-input::placeholder {
		@apply text-sm tracking-normal;
	}
	
	.contact-input::-webkit-scrollbar {
		@apply hidden;
	}

	.contact-textarea {
		@apply mt-2 bg-teal-500/[8%] shadow-sm py-2 px-3 rounded-sm drop-shadow-sm text-black md:w-[22rem] max-h-32 md:max-h-36;
	}

	.cart-textarea {
		@apply mt-3 bg-teal-500/[8%] shadow-sm py-2 px-3 rounded-sm drop-shadow-sm text-black md:w-[22rem] max-h-28;
	}

	.contact-textarea::placeholder, .cart-textarea::placeholder {
		@apply tracking-normal;
	}
	

	.about-us-banner {
		background-image: url('./assets/about-us-banner.jpg');
		@apply bg-cover bg-center bg-no-repeat flex flex-col w-full min-h-[100svh] brightness-[.75] grayscale-[.35] saturate-150;
	}

	.about-us-banner-mobile {
		background-image: url('./assets/about-us-banner-mobile.jpg');
		@apply bg-cover bg-center bg-no-repeat flex flex-col w-full min-h-[160svh] brightness-[.75] grayscale-[.35] saturate-150;
	}

	.about-h1-shadow {
		text-shadow: 2.5px 2.5px 2.5px #ab220d25;
	}

	.about-p-shadow {
		text-shadow: 2px 2px 2px #3a0a0359;
	}
}
