@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply m-0 p-0 box-border outline-none;
}

html {
    @apply scroll-smooth;
}

body {
	@apply bg-teal-600/10 text-zinc-800/90 antialiased overflow-x-hidden min-h-[100svh] font-Lato text-base overflow-y-scroll;
}

span {
	@apply block;
}

label {
	@apply text-sm tracking-wide font-bold;
}

textarea {
	@apply resize-none;
}

textarea::placeholder {
	@apply text-sm;
}

textarea::-webkit-scrollbar {
	@apply hidden;
}

footer {
	box-shadow: 0 -1px 2px 0 #0000000d;
}

@layer components {
	.contact-input {
		@apply text-sm mt-2 bg-teal-600/[9%] shadow-sm py-2 px-3 rounded drop-shadow-sm text-black md:w-72;
	}
	
	.contact-input::placeholder {
		@apply text-sm;
	}
	
	.contact-input::-webkit-scrollbar {
		@apply hidden;
	}

	.contact-textarea {
		@apply mt-2 bg-teal-600/[9%] shadow-sm py-2 px-3 rounded drop-shadow-sm text-black md:w-[22rem] max-h-32 md:max-h-36;
	}

	.about-us-banner {
		background-image: url('./assets/about-us-banner.jpg');
		background-size: cover;
		background-position: left top;
		background-repeat: no-repeat;
		@apply flex flex-col w-full min-h-[100svh] brightness-[.75] grayscale-[.35] saturate-150;
	}

	.about-h1-shadow {
		text-shadow: 2.5px 2.5px 2.5px #ab220d25;
	}

	.about-p-shadow {
		text-shadow: 2px 2px 2px #3a0a0359;
	}
};
